<h1>Editing exercise record</h1>

<%= render "form", exercise_record: @exercise_record %>

<br>

<div>
  <%= link_to "Show this exercise record", @exercise_record %> |
  <%= link_to "Back to exercise records", exercise_records_path %>
</div>
