<p style="color: green"><%= notice %></p>

<h1>Exercise records</h1>

<div id="exercise_records">
  <% @exercise_records.each do |exercise_record| %>
    <%= render exercise_record %>
    <p>
      <%= link_to "Show this exercise record", exercise_record %>
    </p>
  <% end %>
</div>

<%= link_to "New exercise record", new_exercise_record_path %>
